# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.idb
*.enc
*.opensdf
*.i-8eb2cf9f
*.i-feb4fc2a
*.i-6f9e1402
*.i-896f50c2
*.i-ffa0105f
*.i-79f878cf
*.i-e74f371e
*.i-4c3d4c67
*.i-f1cf8238
*.i-591cbc03
*.i-8b671ade
